In [1]:
import pandas as pd

In [9]:
land_use_data = pd.read_csv("land_use_data.csv")

In [10]:
land_use_data

,land_id,land_area_(sq.m),latitude,longitude,date_of_record,land_use_type,ownership,estimated_value_(usd),comments
0,1,5308.06,-56.896938,166.667276,2022-02-24,Industrial,Private,497125.17,Very again whom center down attack.
1,2,2981.87,-3.488293,-150.109716,2020-10-07,Agricultural,Private,740475.22,NaN
2,3,8104.01,-2.913304,165.544321,2022-08-14,Industrial,Community,368307.97,NaN
3,4,1644.95,56.297156,-99.337758,2023-09-08,Industrial,Community,148853.00,NaN
4,5,8746.30,-82.459807,179.589114,2020-03-25,Commercial,Private,135673.76,NaN
...,...,...,...,...,...,...,...,...,...
995,996,5208.39,-14.693245,-42.162480,2021-11-24,Commercial,Community,877280.63,Unit rather new write air thus practice.
996,997,4345.54,-28.947883,159.541729,2020-02-15,Commercial,Community,753629.39,NaN
997,998,3342.36,50.448541,143.754626,2021-08-26,Industrial,Government,1394778.58,NaN
998,999,4356.42,33.445142,74.958424,2022-05-29,Residential,Community,1372756.16,Single easy again simply tonight but million.
999,1000,6910.28,56.559443,76.453739,2022-06-19,Forest,Private,719843.54,NaN